table {
    border-collapse: collapse;
    width: 600px;
    background-color: #282c35;
}

body {
    font-family: "Comic Sans MS", cursive;
    background-color: #1e1f26;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #fefefe;
}

table,td {
    border: 1px solid #444;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    font-family: "Comic Sans MS", cursive;
    color: #fefefe;
    background-color: #32353e;
}

td {
    padding: 10px;
}
