table {
    border-collapse: collapse;
    width: 900px;
    background-color: #242424;
}

body {
    font-family: "Comic Sans MS", cursive;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: #fefefe;
}

table,td {
    width: 160px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    font-family: "Comic Sans MS", cursive;
    color: #fefefe;
}

td {
    padding: 10px;
}
